<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREB's</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/dashHistorialUnidad.css">
</head>
<body>    
    <div id="top__of-page">
        <header>
            <a href="/inicio"><div id="img_top"><img src="/IMG-20231211-WA0080.jpg"></div></a>
        </header>
        <div id="menu-icon"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
    </div>

    <div class="flotante" id="ventanaPagar">
        <div class="flotante_panel" id="panel_ventanaPagar">
            <div class="closeButton" id="closePagar"><i class="fa-solid fa-x"></i></div>
            <h3>Ventana de Pago</h3>
            <p>Precio / Faltante : $<%= pedido.precio %></p>
            <div class="flotante_pago">
                <button id="reserveButton">Señar</button>
                <button id="Pagar">Pagar Completo</button>
            </div>
            <p>Estado Actual:  <span><%= pedido.estadoPago %></span></p>
        </div>
    </div>

    <div id="main">
        <div id="user_container">

            <div class="pedido_section">
                <b>ID del Pedido </b>
                <p id="pedidoID"><%= pedido.id %></p>
            </div>
            <div class="pedido_section">
                <b>Fecha de Ingreso</b>
                <p><%= pedido.fecha%></p>
            </div>
            <div class="pedido_section">
                <b>Es a color? </b>
                <% if(pedido.color == 0) {%>
                    <p id="pedidoID">No</p>
                <%} else {%>
                    <p id="pedidoID">Si</p>
                <%}%>
             
            </div>
            <div class="pedido_section">
                <b>Usuario del Pedido</b>
                <p id="username"><%= user.nombre %></p>
            </div>
            <div class="pedido_section">
                <b>Usuario del Usuario</b>
                <p id="username"><%= user.DNI %></p>
            </div>
            <div class="pedido_section">
                <b>Archivo</b>
                <p id="nombre_archivo"><%= pedido.nombre%></p>
                <% if(pedido.nombre_archivo) {%>
                    <a class="Descargar" id="Descargar" href="/download/<%=pedido.nombre_archivo%>" target="_blank">Descargar</a>
                <%} else {%>
                    <p><a class="Descargar" id="Descargar" href="<%=pedido.link%>" target="_blank"><%= pedido.nombre %></a></p>
                <%}%>
            </div>
            <div class="pedido_section">
                <b>Link de Descarga</b>
                <% if(pedido.link != "No hay Link disponible" && pedido.link) {%>
                    <a id="Link" class="Descargar" target="_blank" href="<%= pedido.link%>">Carpeta de Drive</a>
                <%} else {%>
                    <a class="Descargar" id="Descargar" href="/download/<%=pedido.nombre_archivo%>" target="_blank">Descargar</a>
                <%}%>
            </div>      
            <div class="pedido_section">
                <b>Formato</b>
                <p><%= pedido.formato %></p>
            </div>
            <div class="pedido_section">
                <b>Anillado</b>
                <p><%= pedido.anillado %></p>
            </div>
            <div class="pedido_section">
                <b>Copias</b>
                <p><%= pedido.copias %></p>
            </div>
            <div class="pedido_section">
                <b>Faz</b>
                <p><%= pedido.tipo_impresion %></p>
            </div>
            <div class="pedido_section">
                <b>Fotocopiadora</b>
                <p><%= pedido.fotocopiadora %></p>
            </div>
            <div class="pedido_section">
                <b>Descripción</b>
                <p><%= pedido.descripción %></p>
            </div>
            <div class="pedido_section">
                <b>Precio</b>
                    <p id="precio">$ <%= pedido.precio %></p>
                    <form id="form" method="post" action="/pedido/changePrecio/<%= pedido.id %>" >
                        <input required id="nuevoPrecio" type="number">
                        <input type="submit" class="open actionButton" id="changePrecio" value="Modificar Precio">
                    </form>
            </div>
            <div class="pedido_section">
                <b>Abonado hasta el momento</b>
                    <p id="ingresado">$ <%= pedido.ingresado %></p>
            </div>
            <div class="pedido_section">
                <b>Estado del Pedido</b>
                    <p id="Estado" class="estado"><%= pedido.estado %></p>
                    <button class="open" id="changeEstado">Marcar como Listo</button>
            </div>
            <div class="pedido_section">
                <b>Estado de pago</b>
                    <p class="estadoPago"><%= pedido.estadoPago %></p>
            </div>
            <div class="pedido_section">
                    <b>Abonar desde Aplicación</b>
                <div class="box_pago" id="box_pago">
                    <p id="user_saldo">$ <%= user.saldo %></p>
                    <button class="open" id="openPagar">Pago Virtual</button>
                </div>
            </div>
            <div class="pedido_section">
                <b>Eliminar Pedido</b>
                    <p class="estadoPago" id="eliminarPedido">Eliminar</p>
            </div>

        </div>
    </div>

    <div id="bottom_of-page">
        <footer>footer</footer>
    </div>

    <script>
        const btnDescarga = document.getElementById('Descargar');
        const estado = document.querySelector('.estado');
        const estadoPago = document.querySelector('.estadoPago');
        //Definiciones de Estado
        const changeEstado = document.getElementById('changeEstado');
        //Definiciones de precio
        const changePrecio = document.getElementById('changePrecio');
        const nuevoPrecio = document.getElementById('nuevoPrecio');
        //DEFINIR ID DEL PEDIDO
        const pedidoID = document.getElementById('pedidoID').textContent;
        //BOTON DE ELIMINAR PEDIDO
        const eliminarBoton = document.getElementById('eliminarPedido');
        
    //Configuraciones de Colores bandera
        btnDescarga.onclick = (e) => {
            e.target.style.cssText = 'background-color: var(--lightBlue); color: var(--fondo);'
        }

        if(estado.textContent == 'Pendiente') {
        estado.style.cssText = "background-color: var(--red);";
        
        }
        if(estado.textContent == 'Listo') {
            estado.style.cssText = "background-color: var(--lightBlue);";
            changeEstado.textContent = 'Devolver a Pendiente';
            estado.style.cssText = "background-color: var(--señado); color: var(--text);";
        }

        if(estadoPago.textContent == 'No abonado') {
            estadoPago.style.cssText = "background-color: var(--red);";
        }
        if(estadoPago.textContent == 'Señado') {
            estadoPago.style.cssText = "background-color: var(--señado); color: var(--text);";
        }
        if(estadoPago.textContent == 'Abonado') {
            estadoPago.style.cssText = "background-color: var(--lightBlue);";
        }

    //Configuracion de Boton cambio estado
    changeEstado.onclick = async (e) => {
        const changeURL = `/pedido/changeEstado/${pedidoID}`;

        let formData = new FormData();
        formData.append("Change", 'Estado');
        let response = await fetch(changeURL, {
            method: 'PUT',
            body: formData
        });
        console.log(formData);
        window.location.href = `/Dashpedido/${pedidoID}`;
    }

    //Configuracion de Boton Pagar        
        const informationQuery = `/pedidoInformation/${pedidoID}`;
      
       
        fetch(informationQuery)
        .then((resp) => resp.json())
        .then(function(data) {
            const precio = data.precio;
            const saldo = data.saldo;
            const estado_pago = data.estadoPago;
            const payButton = document.getElementById('Pagar');
            const reserveButton = document.getElementById('reserveButton');
            //Definiciones de ventana de pago
            const openPagar = document.getElementById('openPagar');
            const closePagar = document.getElementById('closePagar');
            const ventanaPagar= document.getElementById('ventanaPagar')
            const flotante_ventanaPagar = document.getElementById('panel_ventanaPagar')



            if(estado_pago == 'No abonado') {
                if(saldo >= precio) {
                openPagar.textContent = "Abonar Virtual";
                openPagar.style.cssText = "background-color: var(--lightBlue);";
                habilitarVentana(ventanaPagar, flotante_ventanaPagar, openPagar, closePagar);
                pagarTotal(payButton, reserveButton, precio, pedidoID);
            }
                else {
                    openPagar.textContent = "Saldo Insuficiente";
                    openPagar.style.cssText = "background-color: var(--text);";
                    openPagar.onclick = e => {openPagar.style.cssText = "background-color: var(--red);";}
                    // habilitarVentana(ventanaPagar, flotante_ventanaPagar, openPagar, closePagar);
                    // pagarTotal(payButton, reserveButton, precio, pedidoID);
                }
            }

            if(estado_pago == 'Señado') {
                reserveButton.textContent = 'Completar Seña';
                if(saldo >= precio) {
                    openPagar.textContent = "Abonar Virtual";
                    openPagar.style.cssText = "background-color: var(--lightBlue);";
                habilitarVentana(ventanaPagar, flotante_ventanaPagar, openPagar, closePagar);
                pagarSeñado(payButton, reserveButton, precio, pedidoID);
            }
                else {
                    openPagar.textContent = "Saldo Insuficiente";
                    openPagar.style.cssText = "background-color: var(--text);";
                    openPagar.onclick = e => {openPagar.style.cssText = "background-color: var(--red);";}
                    // habilitarVentana(ventanaPagar, flotante_ventanaPagar, openPagar, closePagar);
                    // pagarSeñado(payButton, reserveButton, precio, pedidoID);
                }
            }
        
            if(estado_pago == 'Abonado') {
                openPagar.textContent = "Ya abonado!";
                openPagar.style.cssText = "background-color: var(--lightBlue);";
            }

          // Función Pagar
          function pagarTotal (payButton, reserveButton, precio, id) {
            
            reserveButton.onclick = async (e) => {
                const señarURL = `dash/senarPedido/${id}`;
                let formData = new FormData();
                formData.append("estado", 'seña');
                let response = await fetch(señarURL, {
                    method: 'PUT',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/Dashpedido/${id}`;
                }
            payButton.onclick = async (e) => {
                const señarURL = `dash/pagarPedido/${id}`;
                let formData = new FormData();
                formData.append("estado", 'pagar');
                let response = await fetch(señarURL, {
                    method: 'PUT',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/Dashpedido/${id}`;
            }
          }

          function pagarSeñado (payButton, reserveButton, precio, id) {
            
            reserveButton.onclick = async (e) => {
                const señarURL = `dash/pagarPedido/${id}`;
                let formData = new FormData();
                formData.append("estado", 'pagar');
                let response = await fetch(señarURL, {
                    method: 'PUT',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/Dashpedido/${id}`;
                }
            payButton.onclick = async (e) => {
                const señarURL = `dash/pagarPedido/${id}`;
                let formData = new FormData();
                formData.append("estado", 'pagar');
                let response = await fetch(señarURL, {
                    method: 'PUT',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/Dashpedido/${id}`;
            }
          }


          //Función habilitar ventana de pago
          function habilitarVentana(flotante, ventana_pago, openButton, closeButton){
            console.log('habilitando button close');
            openButton.onclick = (e) => {
                flotante.classList.add('show');
                ventana_pago.classList.add('show');
            }
            closeButton.onclick = (e) => {
                flotante.classList.remove('show');
                ventana_pago.classList.remove('show');
                
            }

          }

          const form = document.getElementById('form');
              form.onsubmit = async (e) => {
            e.preventDefault();
           
            const newPrice = nuevoPrecio.value;
            
            const changeURL = `/pedido/changePrecio/${pedidoID}/${newPrice}`;
                 console.log('lo mando por aca');
                let formData = new FormData(form);
                let response = await fetch(changeURL, {
                    method: 'PUT',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/Dashpedido/${pedidoID}`;
        };
        });
    
        // Manejar Botón de Eliminar Pedido
        eliminarBoton.style.cssText = "background-color: var(--lightBlue);"
        eliminarBoton.addEventListener("mouseover", ()=> {
            eliminarBoton.style.cssText = "background-color: var(--red); font-family: notosans; font-size: 1.5rem; transition: all 500ms;"
            console.log(`dash/eliminarPedido/${pedidoID}`);
        });
        eliminarBoton.addEventListener("mouseout", ()=> {
            eliminarBoton.style.cssText = "background-color: var(--lightBlue); transition: all 500ms;"
        });
        eliminarBoton.onclick = async (e) => {
                const eliminarURL = `dash/eliminarPedido/${pedidoID}`;
                let formData = new FormData();
                formData.append("pedido", pedidoID);
                let response = await fetch(eliminarURL, {
                    method: 'DELETE',
                    body: formData
                });
                console.log(formData);
                window.location.href = `/historial_pendientes`;
            }

    </script>
</body>
</html>