<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREB's</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/dashPendientes.css">
</head>
<body>
    
    <div id="top__of-page">
        <header>
            <a href="/inicio"><div id="img_top"><img src="IMG-20231211-WA0080.jpg"></div></a>
        </header>
        <div id="menu-icon"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
    </div>

    
    <div id="main">

        <div id="selector">
            <p class="pestaña">No abonado</p>
            <p class="pestaña">Señado</p>
            <p class="pestaña">Abonado</p>
            <p class="pestaña">Prereserva</p>
            <p class="pestaña">Prereserva Señado</p>
        </div>

        <div id="contenedor_historial">

            <div id="historial_cabeza">
                <p id="numero">Número de Pedido</p>
                <p>Número de Copias</p>
                <p>Archivo</p>
                <p>Precio</p>
            </div>

            <div id="historial_cuerpo">
                <% pedidos.forEach((pedido) => { %>
                    
                    <div class="historial_entrada  <%= pedido.tipo_impresion %> <%= pedido.estadoPago %>">

                        <p class="pedido_id"><%= pedido.id %></p>
                        <p><%= pedido.copias %> copias</p>
                        <% if(pedido.nombre_archivo) {%>
                            <p><a class="nombre_archivo" href="/download/<%=pedido.nombre_archivo%>" target="_blank"><%= pedido.nombre %></a></p>
                        <%} else {%>
                            <p><a class="nombre_archivo" href="<%=pedido.link%>" target="_blank"><%= pedido.nombre %></a></p>
                        <%}%>

                        <p><%= pedido.precio %></p>     
                        
                        <div class="pedido_masinfo">
                            <p><a class="ID" href="/Dashpedido/<%= pedido.id%>" target="_blank">Más Opciones</a></p>
                            <p><%= pedido.tipo_impresion %> Faz</p>
                            <p><b class="estado"><%= pedido.estado %></b></p>
                            <p><b class="estadoPago"><%= pedido.estadoPago %></b></p>
                        </div>

                    </div>                
            
                <% })%>
            
            </div>
        </div>
    </div>

    <script>
        
const estado = document.querySelectorAll('.estado');
const estadoPago = document.querySelectorAll('.estadoPago');
const archivos = document.querySelectorAll('.nombre_archivo');
const selecciones = document.querySelectorAll('.pestaña');
const entradas = document.querySelectorAll(".historial_entrada");

archivos.forEach( archivo => {
    archivo.onclick = (e) => {   
        e.target.style.cssText = 'background-color: var(--Blue); color: var(--fondo);'

    }
})
  
estadoPago.forEach(estado => {
    if(estado.textContent == 'No abonado') {
            estado.style.cssText = "background-color: var(--red);";
    }
if(estado.textContent == 'Abonado') {
    estado.style.cssText = "background-color: var(--Verde);";
}
});

estado.forEach(estado => {

if(estado.textContent == 'Pendiente') {
    estado.style.cssText = "background-color: var(--red);";
    console.log("funciona");
}
if(estado.textContent == 'Listo') {
    estado.style.cssText = "background-color: var(--thirdty);";
}
});

selecciones.forEach(selector => {
    if(selector.textContent == 'Prereserva') { // caso Prereserva donde filtramos por faz (tipo_impresion en sql)
        selector.addEventListener('mouseover', ()=> {
            entradas.forEach( entrada => {
                if(!entrada.classList.contains('Pre')) {     
                    entrada.style.display = "none";
                }
                else {
                    entrada.style.display = "flex";
                }
            });
        });
    } else { // caso pendientes y listos donde filtramos por estado

        if(selector.textContent == 'No abonado') { // Manejo de no abonados
        selector.addEventListener('mouseover', ()=> {
            entradas.forEach( entrada => {
                if(!entrada.classList.contains('abonado')) {     
                    entrada.style.display = "none";
                }
                else {
                    entrada.style.display = "flex";
                }
            });
        });

         } else { 

                if(selector.textContent == 'Prereserva Señado') { // Manejo de pre reserva señados
                selector.addEventListener('mouseover', ()=> {
                entradas.forEach( entrada => {
                    if(entrada.classList.contains('Pre') && entrada.classList.contains('Señado')) {     
                        entrada.style.display = "flex";
                    }
                    else {
                        entrada.style.display = "none";
                    }
                });
            });
                } else { 
                        selector.addEventListener('mouseover', ()=> {
                        entradas.forEach( entrada => {
                            if(!entrada.classList.contains(selector.textContent)) {     
                                entrada.style.display = "none";
                            }
                            else {
                                entrada.style.display = "flex";
                            }
                        });
                    });
                }
    }
 
 }




            
});

    </script>

</body>
</html>